build
.gradle
*.iml
import-summary.txt
.idea

_1OpenCVopticalflow/src/main/libs/armeabi-v7a/libeyemon.so
_1OpenCVopticalflow/src/main/obj/
_1OpenCVopticalflow/src/main/jni/eyeLike/

dockerfileDesktop/jdk-8u471-linux-x64.tar.gz
